.popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
    position: absolute;
}

.popup--hidden {
    display: none;
}

.form {
    width: 430px;
    height: 330px;
    padding: 34px 0 37px;

    box-sizing: border-box;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 10px;
}

.form_profile-edit {
    position: relative;
    margin-top: 195px;
}

.form__heading {
    margin: 0;
    padding: 0;

    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.form__input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__button {
    width: 358px;
    height: 50px;


    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;

    background: #000000;
    border: none;
    border-radius: 2px;

    cursor: pointer;
    transition: opacity .2s;
}

.form__button:hover {
    opacity: .8;
}

@media screen and (max-width: 580px) {
    .form {
        width: 282px;
        height: 322px;

        padding: 25px 0;
    }

    .form_profile-edit {
        margin-top: 123px;
    }

    .form__heading {
        font-size: 18px;
        line-height: 22px;
    }

    .form__button {
        width: 238px;
        height: 46px;

        font-size: 14px;
        line-height: 17px;
    }

}