.profile {
    max-width: calc(100% - 400px);
    min-width: 694px;
    margin: 40px auto 51px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1048px) {
    .profile {
        max-width: calc(100% - 200px);
    }
}

@media screen and (max-width: 846px) {
    .profile {
        max-width: 100%;
        min-width: 100%;
        margin-top: 37px;
        margin-bottom: 32px;

        flex-direction: column;
    }
}