.pop-up {
    width: 1280px;
    height: 1217px;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(0, 0, 0, .5);
}

.pop-up--hidden {
    display: none;
}